# --- Konfiguracja IDE ---
.idea/
*.iml
*.iws
*.ipr

# --- Backend (Maven) ---
target/
.mvn/
*.log
.env

# --- Frontend ---
node_modules/
dist/
.vite/
.env.local

# --- Systemowe ---
Thumbs.db
.DS_Store